<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Socializer</title>
    <link rel="stylesheet" type="text/css"href="css/index.css">
</head>
<body> 
    <header>
        <div class="background">
            <img src="assets/images/background.jpg" alt="background">
        </div>
        <div class="title">
            <h1>Socializer</h1>
        </div>
    </header>
    <main>
        <div class="circle">
            <input type="image" src="assets/images/youtube.png" onclick="window.location.href='youtube-login.html'">
            <input type="image" src="assets/images/twitter.png" onclick="window.location.href='twitter.html'">
            <input type="image" src="assets/images/tiktok.png" onclick="window.location.href='tiktok.html'">
        </div>
    </main>
</body>
</html>