* {
    margin: 0%;
    padding: 0%;
}

.topnav {
    font-style: italic;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topnav img {
    image-rendering: auto;
    height: 5vh;
    transition: transform 0.3s ease;
}

.topnav img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.topnav a {
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
    padding: 10px;
    border-color: white;
    background-color: black;
    transition: transform 0.3s ease;
}

.topnav a:visited,
.topnav a:active {
    color: white;
}

.topnav a:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    color: #FF0000;
}

.tittle {
    display: flex;
}
